* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  img:hover {
    border: 3px solid #65994C; /* Параметры рамки */
    border-radius: 10px; /* Радиус скругления */
  }

#rs_image{
    float:left;
    height: 100px;
}

.nav-list {
    list-style: none;
  }

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-link {
    transition: .3s;
  }

  .nav-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #4d2323;
  }

  .footer-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-li{
    padding: 0 20px;
    line-height: 50px;
  }

  .section{
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 6px;
    color: black;
    background-color: grey;
     }

    .footer
    {
        border: 2px solid blue;
        border-radius: 10px;
        background-color: aquamarine;
     }

     .nav-item{
        font-size: large;
        font-weight: 600;
        margin: 6px;
        border: 2px solid red;
        border-radius: 10px;
        background-color: aquamarine;
     }

     .container {
      max-width: 1440px;
      margin: 0 auto;
    }

    .main-container {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
    }

    body {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color: #4d2323;
    }

    .section-title {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #011b05;
    }        
    
