* {
  box-sizing: border-box;
}

  img:hover {
    border: 3px solid #829985; /* Параметры рамки */
    border-radius: 10px; /* Радиус скругления */
  }

  #my_photo {
    border-radius: 50; /* Радиус скругления */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }

   #rs_image{
    float: right;
    height: 100px;
}

.nav-list {
  list-style: none;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  .nav-link {
    transition: .3s;
  }

  .nav-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #4d2323;
  }

  .footer-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-li{
    padding: 0 20px;
    line-height: 50px;
  }

  .section{
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 6px;
    color: black;
    background-color: grey;
     }

    .footer
    {
        border: 2px solid blue;
        border-radius: 10px;
        background-color: aquamarine;
     }

     .nav-item{
        font-size: large;
        font-weight: 600;
        margin: 6px;
        border: 2px solid red;
        border-radius: 10px;
        background-color: aquamarine;
     }

     .container {
      max-width: 1440px;
      margin: 0 auto;
    }

    .main-container {
      display: flex;
      flex-wrap: wrap;
    }

    body {
      background-color: rgb(112, 112, 112);
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color: #4d2323;
    }

    .section-title {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #011b05;
    }        
    
